.popular-search {
  width: 700px;
  height: 55px;
  border-radius: 50px;
  display: flex;
  /* box-shadow: 0 0 5px rgb(175, 172, 172); */
}

.popular-search input {
  width: 750px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  height: 100%;
  outline: none;
  padding-left: 18px;
  font-size: 15px;
}

/* .popular-search button {
  width: 100px;
  height: 100%;
  font-size: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
} */
/* .popular-search button svg {
  color: grey;
} */

@media screen and (max-width: 700px) {
  .popular-search {
    width: 90%;
    max-width: none;
  }

  .popular-search input {
    width: calc(100% - 40px);
  }
}
